/* Yeray Rodriguez Granda UO284247*/
/*Para el cuerpo de la página, tipo de letra, color de fondo y color de letra*/
body {
	font-family: tahoma;
	background-color:#EAEFF2;
	color: #190204;
}
/* Para el encabezado color de fondo y de letra*/
header {
    background-color: #FF3D33;
	color: #FFFFFF;
}
/*  El color de letra del menu*/
header nav a{
    color: #FFFFFF; /* Color de fondo */
}
/* Para los primeros títulos*/
h1{
    color: #FFFFFF; 
}
/* Estilo general para el video */
section video {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
}
