/* Estilos generales */

section h2 {
    width: 100%; 
    text-align: center;
    padding: 0.6rem; 
}

section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    width: 70vw;
    margin: auto; 
    padding: 1.25rem; 
}

/* Estilos de las cartas */
article {
    width: 20%;
    height: 10em; 
    margin: 0.3rem;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0.06rem 0.06rem 0.06rem rgba(0, 0, 0, .3);
}

article[data-state="flip"] {
    transform: rotateY(180deg);
}

article[data-state="revealed"] {
    transform: rotateY(180deg);
}

article img {
    transform: rotateY(180deg);
}

article h3,
article img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.3rem;
    color: black;
    background: #1C7CCC;
    backface-visibility: hidden;
}

article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

/* Media queries */
@media (max-width: 1080px) {
    section {
        width: 90vw;
    }
    article h3 {
        font-size: 0.8rem;
        width: 100%; 
        text-align: center;
    }
}

@media (max-width: 750px) {
    section {
        width: 100%; /* Ajuste a 100% para evitar desbordamiento */
        margin: 0; /* Quitar márgenes laterales */
        padding: 1rem; /* Reducir padding para mayor ajuste */
    }
    article {
        width: 20%; /* Permite que dos artículos se ajusten mejor en pantallas pequeñas */
        height: 8em;
    }
}

@media (max-width: 670px) {
    
    section {
        width: 100%;
        margin: 0;
        padding: 0.5rem; /* Reduce padding en móviles */
    }
    article {
        width: 20%; /* Ocupa el ancho completo en pantallas muy pequeñas */
        height: 6em;
    }
    article h3 {
        font-size: 0.7rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
